<div class="form-body p-5 min-vh-100 " >
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Edit Category details</h3>
                    
                    <form id="userForm" action="/admin/edit-category" method="post">

                        <div class="col-md-12">
                            <label for="product_name" class="form-label">Name</label>
                            <input id="name" class="form-control" type="text" name="name" value="<%= category.name %>"   >
                            <label id="name-error" class="errorLabel text-danger" for="name"></label>
                            <input  name="id" value="<%= locals.category._id %>" style="display: none;">
                        </div>

                        <!-- <div class="col-md-12 mb-3">
                            <label for="product_slug" class="form-label">Slug</label>
                            <input id="email" class="form-control"  name="slug" value="<%= category.slug %>"  >
                             <label id="email-error" class="errorLabel text-danger" for="email"></label>
                             
                             
                            
                        </div> -->



                        <div class="col-md-12 mb-3">
                            <label class="form-label">Description</label>
                            
                            <textarea name="description"  placeholder="<%= category.description %>" class="form-control"    ></textarea>
                             
                        </div>



                        <div class="form-button mt-3">

                            <button id="button" type="submit"  class="btn btn-primary">Submit</button>
                            <label id="submit-error" class=" text-danger" for="button" ></label>
                          
                            <!-- <label style="color: rgba(255, 0, 0, 0.616);" for="submit">User Already Exists</label> -->
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

